# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Daten, Exports, Reports (Struktur via .gitkeep behalten)
data/raw/*
data/interim/*
data/processed/*
exports/roboflow/*
reports/figures/*
reports/tables/*
!**/.gitkeep

# Große Dateien: Bilder & Modellgewichte (ggf. Git LFS nutzen)
*.jpg
*.jpeg
*.png
*.h5
*.keras
*.tflite
*.pt
*.pth
*.onnx
*.zip
